# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local
.env
.env.test
.env.production
.env.development
.env.local
.env.*.local
dist/
build/
.out/
.cache/
.next/
.nuxt/
.temp/
.tmp/
coverage/
.cache/
.vite/
.idea/
*.tsbuildinfo
.DS_Store
**/.DS_Store


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?